<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Select</title>
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="./css/03-Select.css" />
</head>

<body>
  <div id="app">
    <div class="select-box">
      <select v-model='selectedCity'>
        <option disabled value="">請選擇縣市</option>
        <option v-for="(item) in newArr.city" :value="item.name" :key="item.name">{{item.name}}</option>
      </select>
      <select>
        <option disabled value="">請選擇區域</option>
      </select>
    </div>
    <a class="btn">送出</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <script src="./js/vue.js"></script>
  <script>
    const { onMounted, reactive, ref, watch } = Vue;
    const App = {


      setup() {

        const newArr = reactive({ city: [], area: [] });
        //定義選取到的縣市、區域
        const selectedCity = ref('');
        const selectedArea = ref('');
        watch(selectedCity, (selected) => {
          const matchCity = newArr.city.filter((city) => { return city.name === selected })
          console.log(matchCity);
        })



        axios.get('https://vue-lessons-api.herokuapp.com/city/list')
          .then((res) => {
            newArr.city = res.data.twzip.city;
            //console.log(newArr.city);
          })
        return { newArr, selectedCity, selectedArea };
      },
    };

    Vue.createApp(App).mount("#app");
  </script>
</body>

</html>
